@model IndexViewModel

@{ 
    ViewBag.Title = "Index Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Restaurants</h1>

@foreach(var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a asp-action="Create">Add Restaurants</a>
</div>

@section footer {
    @Model.MessageOfTheDay
}
