@model IEnumerable<OdeToFood.Models.Restaurant>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <table>
        @foreach(var r in Model)
        {
            <tr>
                <td>@r.Id</td><td>@r.Name</td>
            </tr>
        }
    </table>
</body>
</html>